<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/beans_1_0.xsd"></beans>

<!--Quản lý đối tượng cho dependency, quản lý beans
Nó sẽ tạo ra 1 container chứa các beans. Nếu request đến trang web thì
container sẽ kiểm tra, nếu beans đã có trong container rồi thì lấy ra xài,
không cần khởi tạo lại.-->